@import url("https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 100%;
  width: 100%;
}

.custom-scroll {
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.edu-vic-wa-nt-beginner-regular {
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
